.servers_table td {
    padding: 1em;
}

.servers_table, .servers_table tr, .servers_table td {
    border-style: solid;
    border-color: #5e6063;
    border-collapse: collapse;
    border-right: none;
    border-left: none;
}

.servers_table td * {
    display: inline-block;
}

.servers_table label {
    margin-bottom: .5em;
}

.servers_table span {
    display: inline;
}

.servers_table input, .servers_table select {
    width: 90%;
}