<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="css/main.css">

    <title>Dashboard | Torch.js</title>

    <%- include('partials/master.ejs') %>
</head>

<body>

</body>



<footer>

</footer>


</html>