<!DOCTYPE html>
<html>

<head>
    <title>Servers | Torch.js</title>

    <%- include('partials/master.ejs') %>
</head>

<body>

    <div style="padding: 0 1em">
        <button>Create Standalone Instance</button>
    </div>

    <div style="display: flex;">
        <div class="card" id="create_standalone_sector">
            <h2>Standalone Instance</h2>
            <button style="position: flex; float: right; margin-top: -2em; background-color: #E2563E" onclick="">Create</button>

            <label style="padding-top: 0;">Instance Name</label>
            <input type="text" placeholder="E.g. Sol">

        </div>
    </div>

</body>



<footer>

</footer>


</html>