<!DOCTYPE html>
<html>

<head>
    <title>Servers | Torch.js</title>

    <%- include('partials/master.ejs') %>
</head>

<body>

    <div style="padding: 0 1em">
        <button id="myBtn">Create Standalone Instance</button>
    </div>

</body>



<footer>

</footer>


</html>