<!DOCTYPE html>
<html>

<head>
    <title>Servers | Torch.js</title>

    <%- include('partials/master.ejs') %>
</head>

<body>
    <div style="padding: 0 1em">
        <button onclick="$('#create_standalone_sector').is(':visible') ? $('#create_standalone_sector').fadeOut('fast') : $('#create_standalone_sector').fadeIn('fast'), prepareModal_Main('New Standalone Sector', 'Are you sure you want to create a new Standalone Sector?')">Create Standalone Instance</button>
    </div>

    <div style="display: flex">
        <div class="card" id="create_standalone_sector" style="display: none">
            <h2>Standalone Instance</h2>
            <button id="createSA_createButton" style="position: flex;   float: right;   margin-top: -2em;   background-color: #e2563e;" class="open-modal" data-open="modal_main">Create</button>

            <div id="createSA_options">
                <label style="padding-top: 0">Instance Name</label>
                <input id="instance_name" name="Instance Name" type="text" placeholder="E.g. Sol" />
            </div>

            <div id="installSA_options" style="display: none">
                <progress id="installSA_progress" value="0" max="100" style="width: 30em"></progress>
                <div style="white-space: nowrap">
                    <p id="installSA_progress_percent" style="display: inline-block">0%</p>
                    <p id="installSA_progress_time" style="direction: rtl; display: inline-block; width: 93%">...Loading</p>
                </div>
            </div>
        </div>
    </div>
</body>

<%- include('partials/modals.ejs') %>

<footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/servers.js"></script>
</footer>

</html>