<!DOCTYPE html>
<html>

<head>
    <%- include('partials/header.ejs') %>
        <title>Setup | SectorToolbox</title>
</head>

<nav style="background-color: #3f4853;">
    <h1>Setup</h1>
</nav>


</html>