<!DOCTYPE html>
<html>

<head>
    <title>Setup | Torch.js</title>

    <link rel="stylesheet" href="/assets/css/setup.css">

    <%- include('partials/header.ejs') %>
</head>

<body>

    <div style="background-color: #323336; width: 100%; display: inline-block; height: 70px;">
        <a href="https://www.horizons.gg" target="_blank"><img src="/assets/images/horizons.png" style="width: 250px; margin-left: 1em; margin-top: 1.2em;"></a>
        <a href="https://discord.gg/horizons" target="_blank"><img src="/assets/images/discord.svg" style="width: 250px; position: absolute; top: 0; margin-left: -125px; left: 50%;"></a>
        <i onclick="submit_configurations()" class="fas fa-file-export fa-2x" style="position: absolute; top: .6em; right: .5em; cursor: pointer;" title="Save System Configurations"></i>
    </div>

    <div style="width: 100%; display: flex; flex-wrap: wrap;">

        <div class="card">
            <h2>System</h2>

            <label style="padding-top: 0;">Server Name</label>
            <input id="system_community" name="Server Name" type="text" placeholder="E.g. Horizons" value="My Community">

            <label>Server Address (Domain/IPv4)</label>
            <input id="system_address" name="Server Address" type="text" placeholder="domain.com or 0.0.0.0" value="<%= server_ipv4 %>" onkeyup="update_redirect()">

            <label>Web Port</label>
            <input id="system_port" name="Web Port" type="number" placeholder="8080" value="8080" onkeyup="update_redirect()">

            <label style="white-space: pre-line;">Server Directory (This Directory will Store all Torch Servers)
                <span style="color: rgb(255, 47, 47);">This Directory will be created if it does not exist!</span></label>
            <input id="system_directory" name="Server Directory" type="text" placeholder="C:/somewhere/on/your/server" value="<%= default_dir %>">
        </div>

        <div class="card">
            <h2 style="margin-bottom: .2em;">Discord</h2>
            <a href="https://discord.com/developers/applications" target="_blank" style="padding-top: 0; color: tomato;">Create Application</a>

            <label>Client ID</label>
            <input id="discord_clientID" name="Client ID" type="number" placeholder="0123456789">

            <label>Client Secret</label>
            <input id="discord_secret" name="Client Secret" type="password" placeholder="SECRET">

            <label>Bot Token</label>
            <input id="discord_token" name="Bot Token" type="password" placeholder="TOKEN">

            <label style="white-space: pre-line;">Default Administrator ID
                <a href="https://support.discord.com/hc/en-us/articles/206346498-Where-can-I-find-my-User-Server-Message-ID-" target="_blank" style="color: lightgreen;">How to find your Discord ID</a></label>
            <input id="discord_owner" name="Owner ID" type="number" placeholder="0123456789">

            <label>Please add the following redirect to your application:</label>
            <span id="redirect_url" style="color: tomato;">N/A</span>
        </div>

        <div class="card">
            <h2 style="margin-bottom: .2em;">License</h2>
            <p style="margin-bottom: 2em; color: turquoise;">By donating on my patreon you will be supporting the<br>development of this software and get some bonus features in return :)</p>

            <label style="padding-top: 0;">Registered Address</label>
            <input id="license_address" name="First Name" type="text" placeholder="domain.com or 0.0.0.0">

            <label>Email Address (Linked to your <a href="https://www.patreon.com" target="_blank" style="display: inline; color: tomato;">Patreon</a>)</label>
            <input id="license_email" name="Email Address" type="email" placeholder="you@email.com">

            <label>First Name</label>
            <input id="license_fname" name="First Name" type="text" placeholder="Joe">

            <label>Last Name</label>
            <input id="license_lname" name="Last Name Name" type="text" placeholder="Biden">

            <button class="get-license-button" onclick="getLicense()">Request License</button>
            <style style="display: none;">
                .get-license-button {
                    width: 100%;
                    background-color:#363636;
                    border-color: #2aa02a;
                    border-style: solid;
                    border-width: .01em;
                    color: #d1d1d1;
                }
                .get-license-button:hover {background-color: #3b3b3b;}
                .get-license-button:active {background-color: #444444;}
            </style>

            <br>

            <label>License Key (If you already have one)</label>
            <input id="system_key" name="License Key" type="text" placeholder="xxxx-xxxx-xxxx-xxxx">
            <br>
        </div>

    </div>


</body>



<footer>

    <script src="/assets/js/setup.js"></script>

</footer>


</html>