<!DOCTYPE html>
<html>

<head>
    <script src="js/setup.js"></script>

    <title>Setup | Torch.js</title>

    <%- include('partials/header.ejs') %>
</head>

<body>

    <div class="inline" style="background-color: #3f4853; width: 100%;">
        <h1 class="top-title">Setup</h1>
        <i onclick="uninstall()" class="fas fa-trash-alt fa-2x" style="position: absolute; top: .5em; right: .5em; cursor: pointer;" title="Cancel Setup and Uninstall"></i>
    </div>

    <div class="inline" style="width: 100%;">

        <div class="card">
            <h2>System</h2>

            <label style="padding-top: 0;">Server Name</label>
            <input id="system_community" type="text" placeholder="E.g. Horizons" value="My Community">

            <label>Server Address (Domain/IPv4)</label>
            <input id="system_address" type="text" placeholder="domain.com or 0.0.0.0" value="<%= server_ipv4 %>">

            <label style="white-space: pre-line;">Server Directory (This Directory will Store all Torch Servers)
            <span style="color: red;">This Directory will be created if it does not exist!</span></label>
            <input id="system_directory" type="text" placeholder="C:/somewhere/on/your/server" value="<%= default_dir %>">

            <button onclick="submit_configurations()">Submit</button>

        </div>

    </div>


</body>


</html>