::selection {
    background-color: #747780;
}

::-moz-selection {
    background-color: #747780;
}

html {
    background-color: rgb(37, 37, 37);
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

html * {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.top-title {
    margin: .4em;
    margin-left: 1em;
}

.card {
    background-color: #323336;
    margin: 1em;
    padding: 1em;
    padding-right: 1.75em;
    position: relative;
    border-radius: .3em;
}

.card * {
    display: block;
}

.card h2 {
    margin: 0;
    margin-bottom: 1em;
}

.card label {
    padding-top: 2em;
    padding-bottom: .5em;
}

input {
    background-color: #3f4244;
    border-style: solid;
    border-color: #5e6063;
    outline: none;
    border-radius: .2em;
    font-size: 15pt;
    padding: .2em;
    width: 30em;
}

button {
    background-color: #2881e6;
    border-style: none;
    border-radius: .1em;
    font-size: 15pt;
    margin-top: 1em;
    cursor: pointer;
    padding: .2em .4em;
}

.topnav {
    background-color: #323336;
    overflow: hidden;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #2881e6;
    color: white;
}

progress {
    width: 100%;
    height: 2em;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: var(--black);
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 0.35s ease-in;
}

.modal.is-visible {
    visibility: visible;
    opacity: 1;
}

.modal-dialog {
    position: relative;
    max-width: 800px;
    max-height: 80vh;
    border-radius: 5px;
    background: var(--white);
    overflow: auto;
    cursor: default;
}

.modal-dialog>* {
    padding: 1rem;
}

.modal-header,
.modal-footer {
    background: var(--lightgray);
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-header .close-modal {
    font-size: 1.5rem;
}

.modal p+p {
    margin-top: 1rem;
}