::selection {
    background-color: #747780;
}

::-moz-selection {
    background-color: #747780;
}

::-webkit-scrollbar {
    width: 10px;
}

 ::-webkit-scrollbar-track {
    background: #414141;
}

 ::-webkit-scrollbar-thumb {
    background: #616161;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #555;
}

html {
    background-color: rgb(37, 37, 37);
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
}

html * {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.top-title {
    margin: .4em;
    margin-left: 1em;
}

.card {
    background-color: #323336;
    margin: 1em;
    padding: 1em;
    padding-right: 1.75em;
    position: relative;
    border-radius: .3em;
    display: inline-block;
}

.card * {
    display: block;
}

.card h2 {
    margin: 0;
    margin-bottom: 1em;
}

.card label {
    padding-top: 2em;
    padding-bottom: .5em;
}

input {
    background-color: #3f4244;
    border-style: solid;
    border-color: #5e6063;
    outline: none;
    border-radius: .2em;
    font-size: 15pt;
    padding: .2em;
    width: 25em;
}

button {
    background-color: #3c9fd8;
    border-style: none;
    border-radius: .3em;
    font-size: 15pt;
    margin-top: 1em;
    cursor: pointer;
    padding: .2em .4em;
}